html,
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(240, 235, 235);
}

button {
    padding: 5px 10px;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(119, 191, 233);
    color: aliceblue;
}

#toDoName {
    border-color: rgb(119, 191, 233);
}

.flex-container {
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
}

h1 {
    color: rgb(119, 191, 233);
}

li {
    list-style: none;
    padding: 10px 10px;
    color: #025f70;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 10px;
    background: ffffff;
    margin-left: 25%;
    margin-right: 25%;
}

#toDoName {
    padding: 5px 10px;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(240, 235, 235);
}

.delete {
    text-align: end;
    float: right;
    margin: -4px;
}