html,
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(240, 235, 235);
}

.sorter-box {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 40%;
    color: #025f70;
    font-weight: 600;
    font-family: cursive;
}

button {
    padding: 5px 10px;
    border: 1px solid #025f70;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(119, 191, 233);
    color: aliceblue;
}

.sorter-box button.active:before {
    content: "↓";
}

.sorter-box button.notactive:before {
    content: "↓";
}

.sorter-box button {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.sorter-box>div {
    margin-left: 30px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: underline;
}

.action-box {
    margin: 25px 15% 10px 15%;
    border-top: 1px solid #025f70;
    padding-top: 25px
}

.rotate {
    transform: rotate(180deg);
}

h1 {
    color: rgb(119, 191, 233);
}

li {
    list-style: none;
    padding: 10px 10px;
    height: 50px;
    color: #025f70;
    text-transform: capitalize;
    font-weight: 700;
    border-bottom: 1px solid #025f70;
    background: ffffff;
    font-family: cursive;
}

p {
    word-break: break-all;
    margin-left: 50px;
    margin-right: 60px;
    overflow-wrap: break-word;
}

#todo-list {
    border-top: 1px solid #025f70;
    padding-top: 5px;
    margin: 65px 25% 20px 25%;
}

#toDoName {
    color: #025f70;
    font-weight: 700;
    font-family: cursive;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #025f70;
    background-color: rgb(240, 235, 235);
}

#toDoName:focus {
    outline: none;
}

.delete {
    text-align: end;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
    padding: -5px;
    position: static;
}

.error {
    display: hidden;
}

.check1 {
    display: none;
}

label div {
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #025f70;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background: rgb(240, 235, 235);
}

label i {
    font-size: 16px;
    opacity: 0;
}

label:hover div {
    background: rgb(119, 191, 233);
}

.check1:checked+label i {
    opacity: 1;
}

.check1:checked+label div {
    background-color: rgb(119, 191, 233);
}