html,
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(240, 235, 235);
}

button {
    padding: 5px 10px;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(119, 191, 233);
    color: aliceblue;
}

#toDoName {
    border-color: rgb(119, 191, 233);
}

h1 {
    color: rgb(119, 191, 233);
}

li {
    list-style: none;
    padding: 10px 10px;
    color: #025f70;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 10px;
    background: ffffff;
    margin-left: 30%;
    margin-right: 30%;
}

#toDoName {
    padding: 5px 10px;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(240, 235, 235);
}

.delete {
    text-align: end;
    float: right;
    margin: -5.5px;
}

.error {
    display: hidden;
}

.check1 {
    display: none;
}

label div {
    float: left;
    width: 25px;
    height: 25px;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin: -5.5px;
    cursor: pointer;
    background: rgb(240, 235, 235);
}

label i {
    font-size: 16px;
    opacity: 0;
}

label:hover div {
    background: rgb(119, 191, 233);
}

.check1:checked+label i {
    opacity: 1;
}

.check1:checked+label div {
    background-color: rgb(119, 191, 233);
}